<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>TODO List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline" action="" method="">
        <div class="input-group w-100">
          <input type="text" id="taskDescription" name="description" placeholder="I have to..." class="form-control">
          <div class="input-group-append">
            <input type="button" value="Add" class="btn btn-primary" onclick="createTask();">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="tasksList">
      {{#each tasks}}
      <div class="card my-3 {{#eq status 'done' }}bg-light{{/eq}}">
        <div class="card-body">
          <p class="card-text">{{ description }}</p>
          <p class="card-text text-info">{{ this.status }}</p>
          {{#eq status 'pending'}}
          <form method="POST" action="/change/done" class="my-form">
            <input type="hidden" id="id" name="id" value="{{this.id}}">
            <a href="javascript:;" onclick="parentNode.submit()" class="card-link">Mark as done</a>
          </form>
          {{/eq}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
<script>
  function createTask() {
    let description = document.getElementById('taskDescription').value;
    let body = {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ description: description })
    };
    fetch('/tasks', body).then(response => {
      console.log(body);
      if (response.ok) {
        return response.json();
      } else {
        throw "Error in the AJAX call"
      }
    }).then(task => {
      document.getElementById('taskDescription').value = '';
      //addTask(task);
    }).catch(error => {
      console.log("Error: ", error);
    })
  }

  function addTask(tasks) {
    /*let html =
    ´
    <div class="card my-3">
      <div class="card-body">
        <p class="card-text"></p>
        <p class="card-text text-info"></p>
        <form method="POST" action="/change/done" class="my-form">
          <input type="hidden" id="id" name="id" value="">
            <a href="javascript:;" onclick="parentNode.submit()" class="card-link">Mark as done</a>
          </form>
        </div>
      </div>
      ´;*/
  }
</script>